2. Pandas.Series

In [34]:
import pandas as pd
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
def create_medications(names, counts):
    Series_medications = pd.Series(data=counts , index = names, name = "Series medications")
    return Series_medications
    
medications = create_medications(names, counts)

def get_percent(medications, name):
    percent_medications = 100 * medications.loc[name]/sum(medications.loc[names])
    return percent_medications

print(create_medications(names, counts))
#print(get_percent(medications, "chlorhexidine")) #37.5

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: Series medications, dtype: int64

3.Pandas. DataFrame

In [25]:
pd.DataFrame()#СОЗДАНИЕ DATAFRAME

#Способ 1
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

#Способ 2
countries_df2 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)
display(countries_df2)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

axis в DataFrame

In [29]:
#Считаем среднее по строкам (axis = 0) в каждом столбце:
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [30]:
#Считаем среднее по столбцам (axis = 1) в каждой строке:
countries_df.mean(axis=1, numeric_only=True)

0      66726.145
1    4992354.025
2    4913476.140
3    8562668.620
4     301836.750
5     103804.750
6    1362459.520
dtype: float64

ДОСТУП К ДАННЫМ В DATAFRAME

In [ ]:
countries_df.population
countries_df['population']

In [ ]:
#Получим площадь Великобритании:
countries_df.loc['UK', 'square']

#Получим население и площадь, соответствующие России:
countries_df.loc['RU', ['population', 'square']]

#Сделаем вырезку из таблицы и получим информацию о населении и площади, 
#соответствующую Украине, Беларуси и Казахстану:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
#или
countries_df.iloc[4:8, 1:3]

In [55]:
import pandas as pd
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

#Создаем датафрейм, предварительно создав словарь из списков для даты   
def create_companyDF(income, expenses, years):
    data = {'Income': income, 'Expenses': expenses}
    df = pd.DataFrame(data, index=years)
    return df
df = create_companyDF(income, expenses, years)
def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
        return profit
    else:
        return None

display(create_companyDF(income, expenses, years))
display(get_profit(df, 2018))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

322