2. Pandas.Series

In [34]:
import pandas as pd
names=['chlorhexidine', 'cyntomycin', 'afobazol']
counts=[15, 18, 7]
def create_medications(names, counts):
    Series_medications = pd.Series(data=counts , index = names, name = "Series medications")
    return Series_medications
    
medications = create_medications(names, counts)

def get_percent(medications, name):
    percent_medications = 100 * medications.loc[name]/sum(medications.loc[names])
    return percent_medications

print(create_medications(names, counts))
#print(get_percent(medications, "chlorhexidine")) #37.5

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: Series medications, dtype: int64

3.Pandas. DataFrame

In [25]:
pd.DataFrame()#СОЗДАНИЕ DATAFRAME

#Способ 1
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

#Способ 2
countries_df2 = pd.DataFrame(
    data = [
        ['Англия', 56.29, 133396],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'square'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)
display(countries_df2)

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

axis в DataFrame

In [29]:
#Считаем среднее по строкам (axis = 0) в каждом столбце:
countries_df.mean(axis=0, numeric_only=True)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [30]:
#Считаем среднее по столбцам (axis = 1) в каждой строке:
countries_df.mean(axis=1, numeric_only=True)

0      66726.145
1    4992354.025
2    4913476.140
3    8562668.620
4     301836.750
5     103804.750
6    1362459.520
dtype: float64

ДОСТУП К ДАННЫМ В DATAFRAME

In [ ]:
countries_df.population
countries_df['population']

In [ ]:
#Получим площадь Великобритании:
countries_df.loc['UK', 'square']

#Получим население и площадь, соответствующие России:
countries_df.loc['RU', ['population', 'square']]

#Сделаем вырезку из таблицы и получим информацию о населении и площади, 
#соответствующую Украине, Беларуси и Казахстану:
countries_df.loc[['UA', 'BY', 'KZ'],['population', 'square']]
#или
countries_df.iloc[4:8, 1:3]

In [55]:
import pandas as pd
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

#Создаем датафрейм, предварительно создав словарь из списков для даты   
def create_companyDF(income, expenses, years):
    data = {'Income': income, 'Expenses': expenses}
    df = pd.DataFrame(data, index=years)
    return df
df = create_companyDF(income, expenses, years)
def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
        return profit
    else:
        return None

display(create_companyDF(income, expenses, years))
display(get_profit(df, 2018))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

322

Создаем CSV из DataFrame

In [56]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [58]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [59]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [60]:
#Прочитаем наши данные о недвижимости из csv-файла и запишем результирующий DataFrame в переменную melb_data:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [65]:
display(melb_data)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0,"-37.8072, 144.9941"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,...,2.0,652.0,126.0,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0,"-37.90562, 145.16761"
13576,13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,...,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0,"-37.85927, 144.87904"
13577,13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,...,4.0,436.0,126.0,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0,"-37.85274, 144.88738"
13578,13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0,"-37.85908, 144.89299"
13579,13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0,"-37.81188, 144.88449"

index — номер строки
Suburb — наименование пригорода
Address — адрес
Rooms — количество комнат в помещении
Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус)
Price — цена помещения
Method — метод продажи 
SellerG — риэлторская компания
Date — дата продажи (в формате день/месяц/год)
Distance — расстояния до объекта от центра Мельбурна 
Postcode — почтовый индекс
Bedroom — количество спален
Bathroom — количество ванных комнат
Car — количество парковочных мест
Landsize — площадь прилегающей территории
BuildingArea — площадь здания
YearBuilt — год постройки
CouncilArea — региональное управление
Lattitude — географическая широта
Longitude — географическая долгота
Regionname — наименование района Мельбурна
Propertycount — количество объектов недвижимости в районе
Coordinates — широта и долгота, объединённые в кортеж

In [70]:
round(melb_data.loc[3521,'Landsize']/melb_data.loc[1690,'Landsize'],0)

3.0

In [ ]:
#ВЫВОД ПЕРВЫХ И ПОСЛЕДНИХ СТРОК

# display(melb_data.head())
# display(melb_data.tail(4))
# melb_data.tail(4)

#РАЗМЕРНОСТЬ ТАБЛИЦЫ
 
#melb_data.shape

#ПОЛУЧЕНИЕ ИНФОРМАЦИИ О СТОЛБЦАХ

melb_data.info()

In [ ]:
#Заполнение NaN
>>> frame3.fillna(0)

In [99]:
#ИЗМЕНЕНИЕ ТИПА ДАННЫХ В СТОЛБЦЕ
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: float64(6), int64(8), object(9)
memory usage: 2.4+ MB

In [ ]:
#ПОЛУЧЕНИЕ ОПИСАТЕЛЬНОЙ СТАТИСТИКИ
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]
melb_data.describe(include=['object'])

In [97]:
#ПОЛУЧЕНИЕ ЧАСТОТЫ УНИКАЛЬНЫХ ЗНАЧЕНИЙ В СТОЛБЦЕ
melb_data['Regionname'].value_counts()
#melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [103]:
melb_data.isnull().sum ()
melb_data['Type'].value_counts(normalize=True)

Type
h    0.695803
u    0.222165
t    0.082032
Name: proportion, dtype: float64

СТАТИСТИЧЕСКИЕ МЕТОДЫ

МЕТОД	СТАТИСТИЧЕСКИЙ ПАРАМЕТР
.count()	Количество непустых значений
.mean()	Среднее значение
.min()	Минимальное значение
.max()	Максимальное значение
.var()	Дисперсия
.std()	Стандартное отклонение
.sum()	Сумма
.quantile(x)	Квантиль уровня x
.nunique()	Число уникальных значений

In [ ]:
#Вычислим среднюю цену на объекты недвижимости:
print(melb_data['Price'].mean())

#Найдём максимальное количество парковочных мест:
print(melb_data['Car'].max())

#общая прибыльность риэлторского бизнеса в Мельбурне
#риэлторская ставка для всех компаний за продажу недвижимости составляет 12%
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

#отклонение в долях
#модуль разницы между медианой и средним, мы разделим результат на среднее
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

МОДАЛЬНОЕ ЗНАЧЕНИЕ

In [ ]:
#какое число комнат чаще всего представлено на рынке недвижимости
print(melb_data['Rooms'].mode())

#наиболее распространённое название района
print(melb_data['Regionname'].mode())

In [112]:
print(melb_data['Propertycount'].max())
print(round(melb_data['Distance'].std()))

landsize_median = melb_data['BuildingArea'].median() 
landsize_mean =  melb_data['BuildingArea'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

print(melb_data['Bedroom'].mode())

21650
6
0.09764079662364533
0    3
Name: Bedroom, dtype: int64

    Фильтрация данных в DataFrame

In [ ]:
#Создадим маску и положим её в переменную с именем mask. Синтаксис очень прост:
mask = melb_data['Price'] > 2000000
#display(mask)
#display(melb_data[mask].head()) 

#или сразу без переменной
display(melb_data[melb_data['Price'] > 2000000].head())

In [117]:
#Найдём количество зданий с тремя комнатами. 
#
#   Для этого отфильтруем таблицу по условию: 
#   обратимся к результирующей таблице по столбцу Rooms
#   найдём число строк в ней с помощью атрибута shape:
melb_data[melb_data['Rooms'] == 3].shape[0]

# Условия можно комбинировать, используя операторы & (логическое И) и | (логическое ИЛИ). 
# Условия при этом заключаются в скобки.

#Усложним прошлый пример и найдём число трёхкомнатных домов с ценой менее 300 тысяч:
melb_data[(melb_data['Rooms'] == 3) & (melb_data['Price'] < 300000)].shape[0]

#другой пример
melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea'] > 100)) & (melb_data['Price'] < 300000)].shape[0]

melb_data[melb_data['Type'] == 't']['Rooms'].max()

#медианную площадь здания у объектов, чья цена выше средней
mean_price = melb_data['Price'].mean()
melb_data[melb_data['Price'] > mean_price]['BuildingArea'].median()

68

In [118]:
#У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты?
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [126]:
#   Сколько в таблице melb_data объектов недвижимости, 
#   которые были проданы риелторской компанией Nelson 
#   и стоимость которых составила больше 3 миллионов?
melb_data[(melb_data['SellerG'] == 'Nelson')&(melb_data['Price'] > 3e6)].shape[0]

5

In [128]:
#Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [130]:
#   Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее одного миллиона,
#   в которых либо количество комнат больше пяти, либо здание моложе 2015 года?
melb_data[(melb_data['Price'] < 1e6)&((melb_data['Rooms'] > 5)|(melb_data['YearBuilt'] > 2015))]['Price'].mean()

769238.6363636364

In [132]:
# В каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше трёх миллионов?
melb_data[(melb_data['Type'] == 'h')&(melb_data['Price'] < 3e6)]['Regionname'].mode()

0    Northern Metropolitan
Name: Regionname, dtype: object