In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.nan, index=[0, 1, 2, 3], columns=['I', 'II', 'III'])
df.loc[0,"I"] = 1
df.loc[1,"I"] = 2
df.loc[2,"I"] = 3
df.loc[3,"I"] = 4
df.loc[0,"II"] = 5
df.loc[1,"II"] = 6
df.loc[2,"III"] = 7
df.loc[3,"III"] = 6

df.index = ['1','2','3','4']
df.columns = ['A','B','C']
df.fillna(55, inplace = True)

display(df)

     A     B     C
1  1.0   5.0  55.0
2  2.0   6.0  55.0
3  3.0  55.0   7.0
4  4.0  55.0   6.0

In [6]:
from google.colab import drive
drive.mount('/content/gdrive')

ModuleNotFoundError: No module named 'google'

In [87]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
             	"apples", "apples", "apples", "apples",
             	"apples", "apples", "apples"],
            	dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop A", "Shop A", "Shop A", "Shop B",
             	"Shop B", "Shop B", "Shop A"],
            	dtype=object)
 
pl = np.array(["online", "online", "offline",
             	"online", "online", "offline",
             	"offline", "online", "offline",
             	"offline", "offline"],
            	dtype=object)

df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
               	"Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
               	"P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3, 3]})
df['total'] = df['Q']*df['P']

subset = df[(df['shop'] == 'Shop A')&(df['Q']>3)]
total2 = subset.iloc[1]['total']

fruit_total = df.groupby('fruit')['total'].sum()
#fruit_total = pd.pivot_table(df,values='total',index=['fruit'],aggfunc=np.sum)

fruit_quantity = df.groupby('fruit')['Q'].sum()
#fruit_quantity = pd.pivot_table(df,values='Q',index=['fruit'],aggfunc=np.sum)

lemon_average_price = df.groupby('fruit')['P'].mean().iloc[[1]]

#3.	Посчитайте общее количество (колонка Q) всех фруктов в разбивке по названию,
#результат (объект Series) сохраните в переменную fruit_quantity.

#4.	Посчитайте среднюю цену (колонка P) лимонов, результат (объект Series)
#сохраните в переменную lemon_average_price.

print(type(lemon_average_price))

<class 'pandas.core.series.Series'>

In [93]:
import pandas as pd
import numpy as np

fruit = np.array(["lemons", "lemons", "lemons", "lemons",
                 "apples", "apples", "apples", "apples",
                 "apples", "apples", "apples"],
                dtype=object)

shop = np.array(["Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop A", "Shop A", "Shop A", "Shop B",
                 "Shop B", "Shop B", "Shop A"],
                dtype=object)
  
pl = np.array(["online", "online", "offline",
                 "online", "online", "offline",
                 "offline", "online", "offline",
                 "offline", "offline"],
                dtype=object)



df = pd.DataFrame({'fruit': fruit, 'shop': shop, 'pl': pl,
                   "Q": [1, 2, 2, 3, 3, 4, 5, 6, 7, 4, 4],
                   "P": [5, 4, 5, 5, 6, 6, 8, 9, 9, 3,3]})
df['total'] = df['Q']*df['P']
# далее запишите ваш код
pivot = pd.pivot_table(df,values='total',index=['shop'], columns = ['pl'], aggfunc=np.sum)
pivot.iloc[1][1]

#1.	Создайте сводную таблицу датафрейма df, где будет выведено значение переменной total
# с разбиением по строкам — категориям переменной shop и колонками по переменной pl. 
# Используйте сумму как метод сведения и сохраните таблицу в переменную pivot.

#2.	Выведите значение для второй колонки второй строки таблицы pivot.

C:\Users\Наташа\AppData\Local\Temp\ipykernel_9104\3260740641.py:27: FutureWarning: The provided callable <function sum at 0x000001F335B17310> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot = pd.pivot_table(df,values='total',index=['shop'], columns = ['pl'], aggfunc=np.sum)
C:\Users\Наташа\AppData\Local\Temp\ipykernel_9104\3260740641.py:28: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pivot.iloc[1][1]

69